In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import interact
import sqlalchemy as sql

In [2]:
host = 'mysql.anbelly.com'
user = 'hocvien'
password = '12345678'
database = 'casestudy'

In [3]:
engine = sql.create_engine(
    sql.engine.url.URL.create(
        drivername = "mysql",
        username = user,
        password = password,
        host = host,
        port = 3306,
        database = database,
    ),
    echo_pool=True,
)
print("Connecting with engine " + str(engine))

connection = engine.connect()

print('Connected')

Connecting with engine Engine(mysql://hocvien:***@mysql.anbelly.com:3306/casestudy)
Connected

In [5]:
pd.read_sql_query("SHOW DATABASES", connection)

             Database
0            DA2209R1
1           casestudy
2  information_schema
3               mysql
4  performance_schema
5                 sys

In [11]:
pd.read_sql_query("SHOW TABLES", connection)

  Tables_in_casestudy
0           Catalogue
1            Category
2        Manufacturer
3               Sales

In [15]:
pd.read_sql_query("SELECT * FROM Sales", connection)

,Manufacturer,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Year
0,Acura,MDX,93,389,782,611,550,501,0,0,0,0,0,0,2926,2021
1,Audi,Q7,210,210,236,303,292,303,0,0,0,0,0,0,1554,2021
2,Audi,Q8,130,130,146,211,203,211,0,0,0,0,0,0,1031,2021
3,BMW,X5,323,323,364,518,498,518,0,0,0,0,0,0,2544,2021
4,BMW,X6,72,72,81,113,108,113,0,0,0,0,0,0,559,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Subaru,Outback,499,621,948,1065,1079,981,1074,845,644,926,1184,1106,10972,2019
232,Toyota,4Runner,605,393,784,762,854,681,824,903,522,690,663,549,8230,2019
233,Toyota,Highlander,729,792,1184,1095,1185,1423,1347,1336,1114,1366,1316,924,13811,2019
234,Volkswagen,At,530,521,822,925,881,725,761,769,748,933,695,601,8911,2019
235,Volkswagen,Touar,7,2,5,2,1,3,2,0,1,3,0,0,26,2019

In [14]:
pd.read_sql_query("SELECT * FROM Manufacturer", connection)

    index           name
0       0        Lincoln
1       1       Cadillac
2       2       Infiniti
3       3         Jaguar
4       4          Volvo
5       5  Mercedes0Benz
6       6         Nissan
7       7      Chevrolet
8       8     Volkswagen
9       9           Ford
10     10     Alfa Romeo
11     11            BMW
12     12     Land Rover
13     13           Audi
14     14          Tesla
15     15            Kia
16     16          Lexus
17     17          Mazda
18     18         Subaru
19     19            GMC
20     20          Dodge
21     21          Buick
22     22         Toyota
23     23          Honda
24     24           Jeep
25     25        Hyundai
26     26          Acura
27     27        Porsche
28     28       Maserati
29     29        Genesis

In [13]:
pd.read_sql_query("SELECT * FROM Category", connection)

  Category         Description
0      LLS   Large Luxury Size
1       LS          Large Size
2      MLS  Medium Luxury Size
3       MS         Medium Size
4      SLS   Small Luxury Size
5       SS          Small Size

In [12]:
pd.read_sql_query("SELECT * FROM Catalogue", connection)

,Manufacturer,Model,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Lincoln,MKX/Nautilus,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
1,Cadillac,XT4,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
2,Infiniti,QX60,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703
3,Jaguar,E0Pace,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,2012-03-23,85.828408
4,Volvo,XC60,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,2011-07-23,84.254526
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Infiniti,QX30,16.888,2.0,127.0,94.9,66.7,163.8,2.668,15.3,27.0,2011-05-06,51.955109
85,BMW,X5,22.288,2.7,150.0,105.3,66.5,183.3,3.440,18.5,23.0,2011-03-07,62.355577
86,Nissan,Pathfinder,16.700,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,2011-08-27,47.638237
87,Audi,Q7,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,2012-10-30,61.701381
88,Land Rover,g,15.900,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,2011-10-20,47.329632

In [9]:
pd.read_sql_query("SELECT * FROM schedulesDF", connection)

                 start                 end
0  2022-09-30 19:30:00 2022-09-30 21:30:00
1  2022-10-03 19:30:00 2022-10-03 21:30:00
2  2022-10-05 19:30:00 2022-10-05 21:30:00
3  2022-10-07 19:30:00 2022-10-07 21:30:00
4  2022-10-10 19:30:00 2022-10-10 21:30:00
5  2022-10-12 19:30:00 2022-10-12 21:30:00
6  2022-10-14 19:30:00 2022-10-14 21:30:00
7  2022-10-17 19:30:00 2022-10-17 21:30:00
8  2022-10-19 19:30:00 2022-10-19 21:30:00
9  2022-10-21 19:30:00 2022-10-21 21:30:00
10 2022-10-24 19:30:00 2022-10-24 21:30:00
11 2022-10-26 19:30:00 2022-10-26 21:30:00
12 2022-10-28 19:30:00 2022-10-28 21:30:00
13 2022-10-31 19:30:00 2022-10-31 21:30:00
14 2022-11-02 19:30:00 2022-11-02 21:30:00
15 2022-11-04 19:30:00 2022-11-04 21:30:00
16 2022-11-07 19:30:00 2022-11-07 21:30:00
17 2022-11-09 19:30:00 2022-11-09 21:30:00
18 2022-11-11 19:30:00 2022-11-11 21:30:00
19 2022-11-14 19:30:00 2022-11-14 21:30:00
20 2022-11-16 19:30:00 2022-11-16 21:30:00
21 2022-11-18 19:30:00 2022-11-18 21:30:00
22 2022-11-21 19:30:00 2022-11-21 21:30:00
23 2022-11-23 19:30:00 2022-11-23 21:30:00
24 2022-11-25 19:30:00 2022-11-25 21:30:00
25 2022-11-28 19:30:00 2022-11-28 21:30:00
26 2022-11-30 19:30:00 2022-11-30 21:30:00
27 2022-12-02 19:30:00 2022-12-02 21:30:00
28 2022-12-05 19:30:00 2022-12-05 21:30:00
29 2022-12-07 19:30:00 2022-12-07 21:30:00
30 2022-12-09 19:30:00 2022-12-09 21:30:00
31 2022-12-12 19:30:00 2022-12-12 21:30:00
32 2022-12-14 19:30:00 2022-12-14 21:30:00
33 2022-12-16 19:30:00 2022-12-16 21:30:00
34 2022-12-19 19:30:00 2022-12-19 21:30:00
35 2022-12-21 19:30:00 2022-12-21 21:30:00
36 2022-12-23 19:30:00 2022-12-23 21:30:00
37 2022-12-26 19:30:00 2022-12-26 21:30:00
38 2022-12-28 19:30:00 2022-12-28 21:30:00
39 2022-12-30 19:30:00 2022-12-30 21:30:00
40 2023-01-02 19:30:00 2023-01-02 21:30:00

In [8]:
pd.read_sql_query("SELECT * FROM Checka", connection)

,name,email,2022-09-30,2022-10-03,2022-10-05,2022-10-07,2022-10-10,2022-10-12,2022-10-14,2022-10-17,...,2022-12-12,2022-12-14,2022-12-16,2022-12-19,2022-12-21,2022-12-23,2022-12-26,2022-12-28,2022-12-30,2023-01-02
0,Nguyễn Thị Ngọc Hà,ha.nguyen.hvnh.vn@gmail.com,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,Lê Thị Tuyết Nhung,nhungle.31201024509@st.ueh.edu.vn,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
2,Lê Mạnh Hùng,hungubbc@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,Phan Tiến Đạt,tiendatphan1194@gmail.com,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,Huỳnh Tấn Hùng,hunght.fin.92@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
5,Phạm Thị Hằng,hptphamthihang@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE
6,Phan Thị Minh Tú,phanthiminhtu31@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
7,Nguyễn Thế Vinh,nt.vinh92@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
8,Ngô Quang Đức,ducnq.vt@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,...,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
9,Nguyễn Thành Trinh,thanhtrinh08011997@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
10,Nguyễn Mạnh Huy,mahh.huy@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
11,Tạ Văn Vỹ,tavanvy210299@gmail.com,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
12,Dương Hồng Minh,hongminh.duong22@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
13,Chu Quang Phúc,cq.phuc89@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
14,Nguyễn Thị Vân Hiếu,vanhieua454@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,TRUE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE
15,Nguyễn Hoàng Hải,mr.nguyenhoanghai1010@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
16,Nguyễn Văn Vinh,vinhhd68@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE
17,Nguyễn Thị Thu Hằng,thuhangnguyen2201@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
18,Hoàng Thị Hà Trang,tranghoangthiha@gmail.com,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
19,Đoàn Bá Thịnh,thinhdoan209@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,TRUE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
20,Nguyễn Trung Kiên,kien727577@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
21,Võ Thanh Bình,thanhbinhvo2002@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE
22,Nguyễn Thị Quỳnh Anh,quynhrose2001@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
23,Nguyễn Văn Dũng,dungnguyenbkdt2@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
24,Võ Thị Thu Giang,giangvtt123@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
25,Phạm Đàm Hải Đăng,dangmon26102001@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
26,Đặng Huỳnh Long,long0982294109@outlook.com.vn,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
27,Nguyễn Kim Kiều,nguyenkimkieu2212@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE
28,Nguyễn Thanh Tài Nhân,nhannguyen76965@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,TRUE,...,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE
29,Phạm Phương Đào Ngọc,phamphuongdaongoc@gmail.com,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE
30,Nguyễn Vinh Quang,quangnro@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
31,Nguyễn Hoàng Quân,quannh.vn1@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
32,Huỳnh Đức Việt,hdviet92@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,FALSE,TRUE,FALSE,TRUE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE
33,Nguyễn Ngọc Bình,nguyen.ngocbinhmsl@gmail.com,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,...,FALSE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
34,Hoàng Duy Khánh,duykhanhhoang@hotmail.com,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
35,Ngô Thị Thanh Tâm,emma.ngo1992@gmail.com,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,FALSE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE
36,Nguyễn Minh Hiếu,hieunm132@gmail.com,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,...,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE

In [8]:
cat = pd.read_sql_query("SELECT * FROM Catalogue", connection)
cat

,Manufacturer,Model,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Lincoln,MKX/Nautilus,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
1,Cadillac,XT4,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
2,Infiniti,QX60,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703
3,Jaguar,E0Pace,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,2012-03-23,85.828408
4,Volvo,XC60,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,2011-07-23,84.254526
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Infiniti,QX30,16.888,2.0,127.0,94.9,66.7,163.8,2.668,15.3,27.0,2011-05-06,51.955109
85,BMW,X5,22.288,2.7,150.0,105.3,66.5,183.3,3.440,18.5,23.0,2011-03-07,62.355577
86,Nissan,Pathfinder,16.700,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,2011-08-27,47.638237
87,Audi,Q7,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,2012-10-30,61.701381
88,Land Rover,g,15.900,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,2011-10-20,47.329632

In [9]:
cat.dtypes

Manufacturer                  object
Model                         object
Price_in_thousands           float64
Engine_size                  float64
Horsepower                   float64
Wheelbase                    float64
Width                        float64
Length                       float64
Curb_weight                  float64
Fuel_capacity                float64
Fuel_efficiency              float64
Latest_Launch         datetime64[ns]
Power_perf_factor            float64
dtype: object

In [10]:
cat.describe()

,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,87.000000,89.000000
mean,21.144191,2.928090,168.258427,108.303371,71.115730,188.726966,3.294584,17.494382,24.413793,68.431705
std,7.333770,0.889329,40.722042,8.205603,3.533505,13.800204,0.582291,3.656046,4.152757,16.985897
min,9.699000,1.500000,92.000000,93.400000,65.700000,152.000000,2.240000,11.900000,16.000000,36.672284
25%,16.535000,2.200000,135.000000,103.200000,68.300000,178.300000,2.910000,15.100000,21.500000,54.372420
50%,20.230000,3.000000,170.000000,107.000000,70.400000,187.800000,3.332000,17.000000,25.000000,67.876108
75%,24.495000,3.500000,200.000000,112.200000,73.100000,197.800000,3.759000,19.000000,27.000000,80.831470
max,49.900000,5.200000,275.000000,138.700000,79.300000,224.500000,4.808000,32.000000,33.000000,113.854598

In [11]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               89 non-null     object
 2   Price_in_thousands  89 non-null     float64
 3   Engine_size         89 non-null     float64
 4   Horsepower          89 non-null     float64
 5   Wheelbase           89 non-null     float64
 6   Width               89 non-null     float64
 7   Length              89 non-null     float64
 8   Curb_weight         89 non-null     float64
 9   Fuel_capacity       89 non-null     float64
 10  Fuel_efficiency     87 non-null     float64
 11  Latest_Launch       89 non-null     datetime64[ns]
 12  Power_perf_factor   89 non-null     float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 9.2+ KB