In [28]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst = ['Kế toán','Kinh doanh','Tiếp thị']
df = pd.DataFrame(lst)
df

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [4]:
tuples = [('Kế toán',2000),('Kinh doanh',2100),('Tiếp thị',1900)]
df = pd.DataFrame(tuples)
df

            0     1
0     Kế toán  2000
1  Kinh doanh  2100
2    Tiếp thị  1900

In [5]:
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],
      'Lương':[2000,2100,1900]}
df = pd.DataFrame(dic)
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [8]:
arr = np.array([51,65,48,59,68])
seri2 = pd.Series(arr)
seri2

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [29]:
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header = 0, encoding = 'ISO-8859-1')
print('*'*20,'Nhập dữ liệu thành công','*'*20)
display(data)
data.info()

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [3]:
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [9]:
# Đổi tên tất cả cột trong dữ liệu. Yêu cầu liệt kê đầy đủ các cột.
data.columns = ['Địa điểm','Mã SP','Tên SP','Đơn vị','Tên đơn vị','Tháng','Năm','Giá']
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [17]:
# Đổi tên 1 hoặc nhiều cột trong dữ liệu
data.rename(columns = {'UmID':'Đơn vị','UmName':'Tên đơn vị'}, inplace = True)
# Cấu trúc inplace ảnh hưởng đến việc thay đổi bộ nhớ. 
# Nếu là True => Thay đổi trên dữ liệu gốc.
# Nếu là False => Thường được gán cho 1 vùng nhớ mới. 
data

,Địa điểm,Mã SP,Tên SP,Số lượng,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu(%),New
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [10]:
# Thêm cột mới vào sau cùng
data['New'] = np.NaN
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,New
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [11]:
# Chèn một cột mới vào giữa
data.insert(8,'Chiết khấu(%)',20)
data.insert(7,'Số lượng',50)
display(data)
# Cấu trúc gồm vị trí chèn, tên cột, giá trị cột. Giá trị cột có thể thêm nhiều giá trị khác nhau.

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),New
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [15]:
data.rename(columns = {'New':'Tổng'}, inplace = True)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [17]:
data['Tổng'] = data['Giá']*data['Số lượng']*(100-data['Chiết khấu(%)'])/100
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [18]:
data.loc[data.shape[0]] = ['HCM', 3000, 'Watermelon',5,'KG',10,2022,50,50.000,10,np.NaN]
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,HCM,3000,Watermelon,5,KG,10,2022,50,50.0000,10,NaN

In [25]:
data.loc[-1] = ['HCM', 3000, 'Lemon',5,'KG',10,2022,20,50.000,30,np.NaN]
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
-1,HCM,3000,Lemon,5,KG,10,2022,20,50.0000,30,NaN
0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
1,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
2,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
3,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7380,HCM,3000,Watermelon,5,KG,10,2022,50,50.0000,10,NaN

In [26]:
data.index = data.index +1 # update index
data = data.sort_index() # săp xếp lại theo thứ tự dòng
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,HCM,3000,Lemon,5,KG,10,2022,20,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,HCM,3000,Watermelon,5,KG,10,2022,50,50.0000,10,NaN

In [28]:
data.loc[-1] = ['HCM', 3000, 'Lemon',5,'KG',10,2022,20,50.000,30,np.NaN]
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,HCM,3000,Lemon,5,KG,10,2022,20,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,HCM,3000,Watermelon,5,KG,10,2022,50,50.0000,10,NaN
7382,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
-1,HCM,3000,Lemon,5,KG,10,2022,20,50.0000,30,NaN

In [31]:
data.loc[-1] = data.loc[0]
data.loc[0] = ['Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,20, 100.000,10,np.NaN]
data.index = data.index +1
data = data.sort_index()
display (data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,HCM,3000,Lemon,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
5,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382,HCM,3000,Watermelon,5,KG,10,2022,50,50.0000,10,NaN
7383,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN

In [32]:
data.loc[0.5] = ['Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',11,2022,20, 100.000,10,np.NaN]
data = data.sort_index().reset_index(drop=True)
display (data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu(%),Tổng
0,HCM,3000,Lemon,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,11,2022,20,100.0000,10,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382,HCM,3000,Watermelon,5,KG,10,2022,50,50.0000,10,NaN
7383,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN

In [3]:
# thêm 2 dòng với index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
display(data.head(10))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

In [4]:
# Lấy dòng chứa DaNang
data.loc[2.5]

Place           DaNang
ProductId           77
ProductName      BTCTH
UmId                 5
UmName              KG
Month                6
Year              2022
Price          77.1234
Name: 2.5, dtype: object

In [5]:
data.iloc[4]

Place           DaNang
ProductId           77
ProductName      BTCTH
UmId                 5
UmName              KG
Month                6
Year              2022
Price          77.1234
Name: 2.5, dtype: object

In [6]:
data.loc[[2.5,-1]]
# Nếu sử dụng iloc thì giá trị tham số là 0 và 4

         Place  ProductId ProductName  UmId UmName  Month  Year    Price
 2.5    DaNang         77       BTCTH     5     KG      6  2022  77.1234
-1.0  ThanhHoa         66    Nem chua     5     KG      6  2022  66.1234

In [7]:
data.loc[-1:2.5]
# Nếu sử dụng iloc thì giá trị tham số là 0 và 5

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234

In [8]:
data.loc[:,'ProductName']
# nếu sử dụng iloc thì giá trị tham chiếu là số nguyên với bắt đầu là cột 0

-1.0                      Nem chua
 0.0                 Rice - Retail
 1.0                 Rice - Retail
 2.0                 Rice - Retail
 2.5                         BTCTH
                    ...
 7376.0    Cocoa (powder) - Retail
 7377.0    Cocoa (powder) - Retail
 7378.0    Cocoa (powder) - Retail
 7379.0    Cocoa (powder) - Retail
 7380.0    Cocoa (powder) - Retail
Name: ProductName, Length: 7383, dtype: object

In [9]:
data.loc[:,['ProductName','Place']]
# nếu sử dụng iloc thì giá trị tham chiếu là số nguyên với bắt đầu là cột 0

                     ProductName             Place
-1.0                    Nem chua          ThanhHoa
 0.0               Rice - Retail  National Average
 1.0               Rice - Retail  National Average
 2.0               Rice - Retail  National Average
 2.5                       BTCTH            DaNang
...                          ...               ...
 7376.0  Cocoa (powder) - Retail             Izmir
 7377.0  Cocoa (powder) - Retail             Izmir
 7378.0  Cocoa (powder) - Retail             Izmir
 7379.0  Cocoa (powder) - Retail             Izmir
 7380.0  Cocoa (powder) - Retail             Izmir

[7383 rows x 2 columns]

In [10]:
data.loc[:,'ProductId':'UmName']
# nếu sử dụng iloc thì giá trị tham chiếu là số nguyên với bắt đầu là cột 0

         ProductId              ProductName  UmId UmName
-1.0            66                 Nem chua     5     KG
 0.0            52            Rice - Retail     5     KG
 1.0            52            Rice - Retail     5     KG
 2.0            52            Rice - Retail     5     KG
 2.5            77                    BTCTH     5     KG
...            ...                      ...   ...    ...
 7376.0        502  Cocoa (powder) - Retail     5     KG
 7377.0        502  Cocoa (powder) - Retail     5     KG
 7378.0        502  Cocoa (powder) - Retail     5     KG
 7379.0        502  Cocoa (powder) - Retail     5     KG
 7380.0        502  Cocoa (powder) - Retail     5     KG

[7383 rows x 4 columns]

In [11]:
data.loc[9] = ['NhaTrang', 88, 'Cá ngựa khô', 5, 'KG', 10, 2022, 77.1234]
display(data.head(15))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8.0,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9.0,NhaTrang,88,Cá ngựa khô,5,KG,10,2022,77.1234
10.0,National Average,52,Rice - Retail,5,KG,8,2014,6.6806
11.0,National Average,52,Rice - Retail,5,KG,9,2014,6.6035
12.0,National Average,52,Rice - Retail,5,KG,10,2014,6.4960

In [12]:
data.loc[2.5:11,'Place':'ProductName']

                 Place  ProductId    ProductName
2.5             DaNang         77          BTCTH
3.0   National Average         52  Rice - Retail
4.0   National Average         52  Rice - Retail
5.0   National Average         52  Rice - Retail
6.0   National Average         52  Rice - Retail
7.0   National Average         52  Rice - Retail
8.0   National Average         52  Rice - Retail
9.0           NhaTrang         88    Cá ngựa khô
10.0  National Average         52  Rice - Retail
11.0  National Average         52  Rice - Retail

In [15]:
data.iloc[11,2]

'Cá ngựa khô'

In [16]:
data.iloc[4:14,0:3]

                 Place  ProductId    ProductName
2.5             DaNang         77          BTCTH
3.0   National Average         52  Rice - Retail
4.0   National Average         52  Rice - Retail
5.0   National Average         52  Rice - Retail
6.0   National Average         52  Rice - Retail
7.0   National Average         52  Rice - Retail
8.0   National Average         52  Rice - Retail
9.0           NhaTrang         88    Cá ngựa khô
10.0  National Average         52  Rice - Retail
11.0  National Average         52  Rice - Retail

In [17]:
data.loc[9,'ProductName']

'Cá ngựa khô'

In [18]:
data.loc[2.5:11,['Place','ProductId','ProductName']]

                 Place  ProductId    ProductName
2.5             DaNang         77          BTCTH
3.0   National Average         52  Rice - Retail
4.0   National Average         52  Rice - Retail
5.0   National Average         52  Rice - Retail
6.0   National Average         52  Rice - Retail
7.0   National Average         52  Rice - Retail
8.0   National Average         52  Rice - Retail
9.0           NhaTrang         88    Cá ngựa khô
10.0  National Average         52  Rice - Retail
11.0  National Average         52  Rice - Retail

In [19]:
data.iloc[0:100:2, 0:7:2]

                  Place           ProductName UmName  Year
-1.0           ThanhHoa              Nem chua     KG  2022
 1.0   National Average         Rice - Retail     KG  2013
 2.5             DaNang                 BTCTH     KG  2022
 4.0   National Average         Rice - Retail     KG  2014
 6.0   National Average         Rice - Retail     KG  2014
 8.0   National Average         Rice - Retail     KG  2014
 10.0  National Average         Rice - Retail     KG  2014
 12.0  National Average         Rice - Retail     KG  2014
 14.0  National Average         Rice - Retail     KG  2014
 16.0  National Average         Rice - Retail     KG  2015
 18.0  National Average         Rice - Retail     KG  2015
 20.0  National Average         Rice - Retail     KG  2015
 22.0  National Average         Rice - Retail     KG  2015
 24.0  National Average         Rice - Retail     KG  2015
 26.0  National Average         Rice - Retail     KG  2015
 28.0  National Average         Rice - Retail     KG  2016
 30.0  National Average         Rice - Retail     KG  2016
 32.0  National Average         Rice - Retail     KG  2016
 34.0  National Average         Rice - Retail     KG  2016
 36.0  National Average         Rice - Retail     KG  2016
 38.0  National Average         Rice - Retail     KG  2016
 40.0  National Average         Rice - Retail     KG  2017
 42.0  National Average         Rice - Retail     KG  2018
 44.0  National Average         Rice - Retail     KG  2018
 46.0  National Average         Rice - Retail     KG  2018
 48.0  National Average         Rice - Retail     KG  2018
 50.0  National Average         Rice - Retail     KG  2018
 52.0  National Average         Rice - Retail     KG  2018
 54.0  National Average         Rice - Retail     KG  2019
 56.0  National Average         Rice - Retail     KG  2019
 58.0  National Average         Rice - Retail     KG  2019
 60.0  National Average         Rice - Retail     KG  2019
 62.0  National Average         Rice - Retail     KG  2019
 64.0  National Average         Rice - Retail     KG  2019
 66.0  National Average  Wheat flour - Retail     KG  2013
 68.0  National Average  Wheat flour - Retail     KG  2013
 70.0  National Average  Wheat flour - Retail     KG  2014
 72.0  National Average  Wheat flour - Retail     KG  2014
 74.0  National Average  Wheat flour - Retail     KG  2014
 76.0  National Average  Wheat flour - Retail     KG  2014
 78.0  National Average  Wheat flour - Retail     KG  2014
 80.0  National Average  Wheat flour - Retail     KG  2014
 82.0  National Average  Wheat flour - Retail     KG  2015
 84.0  National Average  Wheat flour - Retail     KG  2015
 86.0  National Average  Wheat flour - Retail     KG  2015
 88.0  National Average  Wheat flour - Retail     KG  2015
 90.0  National Average  Wheat flour - Retail     KG  2015
 92.0  National Average  Wheat flour - Retail     KG  2015
 94.0  National Average  Wheat flour - Retail     KG  2016
 96.0  National Average  Wheat flour - Retail     KG  2016

In [21]:
data['Place'][-1]

'ThanhHoa'

In [22]:
data['Place'][0] = 'HaNoi'
display(data)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5996\262440094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Place'][0] = 'HaNoi'

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,HaNoi,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
...,...,...,...,...,...,...,...,...
7376.0,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [23]:
data.at[0, 'Place']

'HaNoi'

In [24]:
data.loc[0, 'Place']

'HaNoi'

In [25]:
data.at[0, 'Place'] = 'SaiGon'
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,SaiGon,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
...,...,...,...,...,...,...,...,...
7376.0,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [26]:
data.loc[0, 'Place']

'SaiGon'

In [27]:
data.loc[0, 'Place'] = 'Hue'