In [80]:
# Khai báo thư viện
import pandas as pd
import numpy as np
print('Khai báo thư viện thành công')

Khai báo thư viện thành công

In [81]:
# Nhập dữ liệu
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                   header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
# data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# display(data2)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [48]:
data.to_csv('second_time_FoodPrice.csv') #Khuyến cáo nên lưu ra file csv

In [49]:
data.info() #.info() method, hàm
# data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [50]:
#Xác định số dòng và số cột của dữ liệu
print(data.shape) # shape là property, tính chất, thuộc tính
#Số cột
print(data.shape[0])
#Số hàng
print(data.shape[1])

(7381, 8)
7381
8

In [51]:
# Xác định tên các cột
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

## Đổi tên cột

In [52]:
# Việt hóa tên các cột
# Đổi tên chỉ 1 cột xác định
# data.rename(columns = {'Place':'Địa điểm'}, inplace=True)

# Đổi tên chỉ 1 vài cột xác định
# data.rename(columns = {'ProductId':'Mã sản phẩm', 'ProductName':'Tên sản phẩm'}, inplace=True)
# data.rename(columns = {'UmId':'Số lượng', 'UmName':'Tên đơn vị'}, inplace=False) #Bảng data không thay đổi

# Đổi tên toàn bộ các cột (Yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá'] #Phải đủ số lượng tên các cột

data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

## Thêm cột vào bảng đã có

In [53]:
# Thêm cột mới vào sau cuối
data['tên cột mới'] = np.NaN
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [54]:
# Chèn thêm cột 'Chiết khấu' vào sau cột 'Giá'
data.insert(8,'Chiết khấu (%)', 20)
display(data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [55]:
# Thêm 1 cột tên là "số lượng" nằm trước cột Giá, giá trị toàn bộ là 50
data.insert(7,'Số lượng',50)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [56]:
# Đổi tên "Tên cột mới" thành "Tổng" và có giá trị là giá*số lượng*(100%-chiết khấu)
# gợi ý: data['A'] = data[B]*C*(100-D)/100
data.rename(columns = {'tên cột mới':'tổng'}, inplace=True)
data['tổng'] = data['Giá'] * data['Số lượng'] * (100-data['Chiết khấu (%)'])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [57]:
data.shape[0]

7381

## Thêm 1 dòng mới vào cuối bảng
### df.loc[cs]=[....]
df.loc[df.shape[0]] = [....]

In [58]:
# Sai lầm
# data.loc[data.shape[0]]= ['Sài Gòn','3000','Dưa hấu','5','KG','10','6','2022','50.000','0','NaN']
# Chuẩn
data.loc[data.shape[0]]= ['Sài Gòn',3000,'Dưa hấu',5,'KG',10, 2022, 50,50.000,10,np.NaN]
display (data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

### Thêm 1 dòng mới vào đầu bảng

In [75]:
# Thêm 1 dòng mới vào đầu bảng
data.loc[-1]= ['Hà Nội',3001,'Cốm làng Vòng',5,'KG',10,2022,20, 50.000,30,np.NaN]
# Update index của bảng
data.index = data.index + 1
# Sắp xếp lại bảng
data = data.sort_index()
display(data)
# data.info()

ValueError: Must have equal len keys and value when setting with an iterable

### Thêm 1 dòng mới vào vị trí bất kỳ

In [73]:
#Cách 1: Swap giá trị các dòng
data.loc[-1] = data.loc[0]
data.loc[0] = ['Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,20, 100.000,10,np.NaN]
data.index = data.index +1
data = data.sort_index()

ValueError: Must have equal len keys and value when setting with an iterable

In [74]:
# Cách 2: Chèn thêm ở vị trí trung gian
# Chèn thêm dòng ở vị trí bất kỳ, ví dụ 0.5
data.loc[0.5]= ['Đà Nẫng',3002,'Mì quảng',5,'tô',10,9,2022,100.000,20,np.NaN]

#Sắp xếp lại các hàng theo đúng thứ tự từ nhỏ tới lớn và theo số tự nhiên
data = data.sort_index().reset_index(drop=True)

display(data)

ValueError: cannot set a row with mismatched columns

## Xóa cột

## Xóa cột sử dụng lệnh del
### del df['Tên cột cần xóa']

In [42]:
# Xóa cột sử dụng del
data2 = data
print('Data2 sau khi tạo')
display(data2)
# Xóa cột 'cột mới' (xóa ngay trên bảng gốc) -> Nguy hiểm, hạn chế dùng
del data2['tổng']
print('Data2 sau khi xóa')
display(data2)
print('Data sau khi xóa')
display(data)

Data2 sau khi tạo

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

Data2 sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

Data sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

## Xóa cột sử dụng hàm pop()
### df.pop('Tên cột cần xóa')

In [62]:
# Xóa cột sử dụng pop()
data3 = data
print('Data3 sau khi tạo')
display(data3)
# Xóa cột 'cột mới' (xóa ngay trên bảng gốc) -> hạn chế dùng
data4 = data3.pop('Chiết khấu (%)') #-> kết quả là cột cần xóa
print('Data3 sau khi xóa')
display(data3)
print('Data sau khi xóa')
display(data)
print('Data4')
display(data4)

Data3 sau khi tạo

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

Data3 sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

Data sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

Data4

0       30
1       20
2       10
3       20
4       20
        ..
7380    20
7381    20
7382    20
7383    20
7384    10
Name: Chiết khấu (%), Length: 7385, dtype: int64

## Xóa cột sử dụng hàm drop()
### df.drop('Tên cột cần xóa’, axis=1, inplace=True/False)
axis = 1 nghĩa là xóa cột
inplace = True -> xóa cả dữ liệu gốc = del, pop()
inplace = False -> dữ lại nguyên vẹn dữ liệu gốc (mặc định)

In [63]:
# Xóa cột sử dụng drop()
data4 = data
print('Data4')
display(data4)
# Xóa cột 'cột mới' (không xóa trực tiếp trên bảng gốc) -> nên dùng
data5 = data4.drop('Số lượng', axis=1, inplace=False)  #-> lấy kết quả trả về
# data5 = data4.drop('Số lượng', axis=1, inplace=True)  #-> không trả về kết quả mà cột bị xóa trực tiếp trên bảng gốc
print('Data4 sau khi xóa')
display(data4)
print('Data5')
display(data5)
print('Data gốc')
display(data)

Data4

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

Data4 sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

Data5

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,183.144
...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50.0000,NaN

Data gốc

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

## Xóa nhiều cột sử dụng hàm drop()
### df.drop(['Tên cột cần xóa1',…, 'Tên cột cần xóa n'], axis=1, inplace=True/False)

In [64]:
# Xóa cột 'cột mới' và cột 'số lượng'
data6 = data.drop(['Chiết khấu (%)', 'Số lượng'], axis=1)
print('Data6')
display(data6)
print('Data gốc')
display(data)

KeyError: "['Chiết khấu (%)'] not found in axis"

## Xóa dòng sử dụng hàm drop()
### df.drop(cs, axis=0, inplace=True/False)
axis = 0 -> xóa dòng
cs là index của dòng đấy

In [65]:
#Xóa dòng cuối cùng
data6 = data.drop(data.shape[0]-1, axis=0)
print("Data6")
display(data6)

Data6

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,1916.160
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284

In [66]:
# Xóa dòng đầu tiên của bảng
data7 = data.drop(0, axis=0) #-> xóa đi và không reset lại index
display(data)
display(data7)
# data7.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
5,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,191.460
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

## Xóa nhiều dòng sử dụng hàm drop()
### df.drop([cs1,…,csn], axis=0, inplace=True)

In [67]:
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

In [68]:
# Xóa dòng thứ Đà Nẵng, Hà Nội và Sài Gòn
data8 = data.drop([0,1,7383], axis=0)
data8

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144
5,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,191.460
6,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,205.348
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,1916.160
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,2071.940
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,NaN

In [69]:
data.iloc[:5]

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,183.144

In [70]:
data.iloc[2.5:]

TypeError: cannot do positional indexing on RangeIndex with these indexers [2.5] of type float

In [78]:
data.loc[:, 'Tên SP']

 0                 Cốm làng Vòng
 1                      Mì quảng
 2                      Mỳ Quảng
 3                 Rice - Retail
 4                 Rice - Retail
                  ...
 7381    Cocoa (powder) - Retail
 7382    Cocoa (powder) - Retail
 7383    Cocoa (powder) - Retail
 7384                    Dưa hấu
-1                 Cốm làng Vòng
Name: Tên SP, Length: 7386, dtype: object

In [79]:
data.iloc[:, 2]

 0                 Cốm làng Vòng
 1                      Mì quảng
 2                      Mỳ Quảng
 3                 Rice - Retail
 4                 Rice - Retail
                  ...
 7381    Cocoa (powder) - Retail
 7382    Cocoa (powder) - Retail
 7383    Cocoa (powder) - Retail
 7384                    Dưa hấu
-1                 Cốm làng Vòng
Name: Tên SP, Length: 7386, dtype: object

In [83]:
data.loc[:, ['ProductName', 'Place']]

                  ProductName             Place
0               Rice - Retail  National Average
1               Rice - Retail  National Average
2               Rice - Retail  National Average
3               Rice - Retail  National Average
4               Rice - Retail  National Average
...                       ...               ...
7376  Cocoa (powder) - Retail             Izmir
7377  Cocoa (powder) - Retail             Izmir
7378  Cocoa (powder) - Retail             Izmir
7379  Cocoa (powder) - Retail             Izmir
7380  Cocoa (powder) - Retail             Izmir

[7381 rows x 2 columns]

In [85]:
data.iloc[:, [2, 0]]

                  ProductName             Place
0               Rice - Retail  National Average
1               Rice - Retail  National Average
2               Rice - Retail  National Average
3               Rice - Retail  National Average
4               Rice - Retail  National Average
...                       ...               ...
7376  Cocoa (powder) - Retail             Izmir
7377  Cocoa (powder) - Retail             Izmir
7378  Cocoa (powder) - Retail             Izmir
7379  Cocoa (powder) - Retail             Izmir
7380  Cocoa (powder) - Retail             Izmir

[7381 rows x 2 columns]

In [87]:
display(data.head(10))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9,National Average,52,Rice - Retail,5,KG,7,2014,6.6503

In [91]:
data.loc[:, 'ProductName':'UmName']

                  ProductName  UmId UmName
0               Rice - Retail     5     KG
1               Rice - Retail     5     KG
2               Rice - Retail     5     KG
3               Rice - Retail     5     KG
4               Rice - Retail     5     KG
...                       ...   ...    ...
7376  Cocoa (powder) - Retail     5     KG
7377  Cocoa (powder) - Retail     5     KG
7378  Cocoa (powder) - Retail     5     KG
7379  Cocoa (powder) - Retail     5     KG
7380  Cocoa (powder) - Retail     5     KG

[7381 rows x 3 columns]

In [93]:
data.iloc[:, 1:5]

      ProductId              ProductName  UmId UmName
0            52            Rice - Retail     5     KG
1            52            Rice - Retail     5     KG
2            52            Rice - Retail     5     KG
3            52            Rice - Retail     5     KG
4            52            Rice - Retail     5     KG
...         ...                      ...   ...    ...
7376        502  Cocoa (powder) - Retail     5     KG
7377        502  Cocoa (powder) - Retail     5     KG
7378        502  Cocoa (powder) - Retail     5     KG
7379        502  Cocoa (powder) - Retail     5     KG
7380        502  Cocoa (powder) - Retail     5     KG

[7381 rows x 4 columns]

In [94]:
display(data.head(15))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9,National Average,52,Rice - Retail,5,KG,7,2014,6.6503
10,National Average,52,Rice - Retail,5,KG,8,2014,6.6806
11,National Average,52,Rice - Retail,5,KG,9,2014,6.6035
12,National Average,52,Rice - Retail,5,KG,10,2014,6.4960
13,National Average,52,Rice - Retail,5,KG,11,2014,6.6440
14,National Average,52,Rice - Retail,5,KG,12,2014,6.7240