In [2]:
# Đọc dữ liệu vào DataFrame
import pandas as pd
df=pd.read_csv(filepath_or_buffer = r'C:\Users\MY PC\Documents\GitHub\CG-DA-Python\Datasets\FoodPrice_in_Turkey.csv', sep = ',')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [3]:
df.to_csv('demo_FoodPrice.csv')

In [15]:
pd.read_csv('demo_FoodPrice.csv')

,Unnamed: 0,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...,...
7376,7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
df.to_excel('demo_FoodPrice.xlsx')

In [16]:
pd.read_excel('demo_FoodPrice.xlsx')

,Unnamed: 0,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...,...
7376,7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [7]:
df.to_json('demo_FoodPrice.json', orient='columns')

In [12]:
pd.read_json('demo_FoodPrice.json')

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [9]:
df.to_hdf('demo_FoodPrice.h5', 'table')

In [14]:
pd.read_hdf('demo_FoodPrice.h5', 'table')

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [17]:
df.to_html('demo_FoodPrice.html')

In [18]:
pd.read_html('demo_FoodPrice.html')

[      Unnamed: 0             Place  ProductId              ProductName  UmId  \
 0              0  National Average         52            Rice - Retail     5
 1              1  National Average         52            Rice - Retail     5
 2              2  National Average         52            Rice - Retail     5
 3              3  National Average         52            Rice - Retail     5
 4              4  National Average         52            Rice - Retail     5
 ...          ...               ...        ...                      ...   ...
 7376        7376             Izmir        502  Cocoa (powder) - Retail     5
 7377        7377             Izmir        502  Cocoa (powder) - Retail     5
 7378        7378             Izmir        502  Cocoa (powder) - Retail     5
 7379        7379             Izmir        502  Cocoa (powder) - Retail     5
 7380        7380             Izmir        502  Cocoa (powder) - Retail     5

      UmName  Month  Year    Price
 0        KG      5  2013   4.4920
 1        KG      6  2013   4.5786
 2        KG     11  2013   4.7865
 3        KG     12  2013   5.1337
 4        KG      1  2014   5.5099
 ...     ...    ...   ...      ...
 7376     KG      8  2019  47.9040
 7377     KG      9  2019  49.1176
 7378     KG     10  2019  50.8347
 7379     KG     11  2019  51.7985
 7380     KG     12  2019  51.6071

 [7381 rows x 9 columns]]